header{
    height: 105vh;
    padding-top: 5rem;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0));
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*=================CTA=====================*/
.cta{
    margin-top: 2.5rem;
    display:inline-flex;
    gap: 1.2rem;
    justify-content: center;
}

/*=================SOCIALS=====================*/
.header_social{
    display: inline-flex;
    align-items: center;
    margin-left: 1.2rem;
    font-size:xx-large;
    justify-content:center;
}

/*==============IMG====================*/

.me{
    width: 22rem;
    height: 30rem;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}
/*==========MEDIA QUERIES (MEDIUM)===========*/
@media screen and (max-width:1024px){
    header{
        height: 100vh;
        padding-top: 3rem;
    }
}

/*==========MEDIA QUERIES (SMALL)===========*/
@media screen and (max-width:600px){
    header{
        height: 130vh;
        padding-top: 4rem;
    }
}